:root {
  --color-bg-primary: hsl(207, 24%, 82%);
  --color-bg-secondary: hsl(204, 28%, 93%);
  --color-text-primary: hsl(210, 4%, 11%);
  --color-text-secondary: hsl(176, 10%, 28%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
